// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

// Center the CTA shortcode button
//max-width: 768px;
.hero-lead {
  max-width: None;
  font-size: 1.36rem;
}